/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* {
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
}
body {
	background: #fff;
	margin: 0;
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
}

p {
	padding: 0;
	margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1px;
	color: #666;
	margin-top: 10px;
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	padding: 0;
	margin: 0;
	text-decoration: none;
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
	padding: 0px !important;
	margin: 0px;
}

/* FORM CONFIGURATION */
input {
	font-size: 16px;
	min-height: 40px;
	border-radius: 25px;
	line-height: 20px;
	padding: 15px 30px 16px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	opacity: 0.9;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 65%;
	text-align: left;
	margin-right: 2px;
  color: black;
}

@media screen and (max-width: 767px) {
	.subscribe-input {
		width: 100%;
	}
}

.subscribe-submit {
	right: 0;
}

.btn-download {
	background: #FDE3A7;
}

/*Buttons Configuration */
.btn-conf {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 18px 28px 17px 28px;
	}

.btn-conf-2 {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 12px 28px 11px 28px;
	margin-top: 20px;
	}

.btn-green {
	background: #03acc9;
	color: white
}

/* HEADER SECTION */
#h {
	background: url(../img/header.jpg) no-repeat center top;
	padding-top: 180px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	color: white;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h .logo {
	top: 30px;
	left: 45px;
	font-size: 18px;
	font-weight: 900;
	position:absolute;
}

#h .social {
	top: 30px;
	right: 45px;
	font-size: 20px;
	position: absolute;
}

#h .social i {
	margin-left: 20px;
}

#h .social a {
	color: white;
}

#h h1 {
	font-weight: 700;
	color: white;
	font-size: 40px;
}

/* SEP */
#sep {
	background: url(../img/sep.jpg) no-repeat center top;
	padding-top: 90px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	color: white;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sep h4 {
	letter-spacing: 1px;
	line-height: 30px;
	margin-top: 30px;
}

/* GREEN SECTION - TESTIMONIAL */
#green {
	padding-top: 90px;
	padding-bottom: 60px;
	min-height: 300px;
	background: #03acc9;
	color: white;
}

#green tgr {
	font-weight: 700;
	letter-spacing: 1px;
}

/* FOOTER */
#f {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #2f2f2f;
	color: white;
}

#f h5 {
	margin-top: 30px;
	letter-spacing: 1px;
}

#f i {
	font-size: 45px;
	margin: 15px;
}

#f a {
	color: #b9b9b9;
}

#f a:hover {
	color: #03C9A9;
}

/* MODALS */
#modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .40;
    -webkit-opacity: .4;
    -moz-opacity: .4;
    filter: alpha(opacity=40);
    z-index: 1000;
}
.modal-content {
    color: #666;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    display: none;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 30px;
    position: absolute;
    top: 45%;
    z-index: 1000;
}

#modal-background.active, .modal-content.active {
    display: block;
}
.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    background: rgba(27,35,42,0.9);
    z-index: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.username {
		display: inline-block;
		padding: 0 0 0 5px;
		font-weight: 300;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 1px;
		color: #c1c1c1;
}
.circle-button {
		display: inline-block;
		margin-top: -2px;
		width: 35px;
		height: 35px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.userItem {
		cursor: pointer;
		margin-top: 10px;
		margin-right: -80%;
		padding-right: 15px;
		margin-bottom: 12px;
}

.glyphicon{
		margin-right: 5px;
}
.resize#h{
		min-height: 70%;
		padding-top: 0;
		background: white;
}
.resize {
		transition: display 2s ease;
		-webkit-transition: display 2s ease;
		-moz-transition: display 2s ease;
		-o-transition: display 2s ease;
}
.resize input{
		font-size: 12px;
		width: inherit;
		padding: 5px 0px 5px 10px;
		min-height: 0;
}
.resize .btn-conf{
		font-size: 8px;
		padding: 5px 10px 5px 10px;
		line-height: 20px;
}
.resize #search{
	position: fixed;
	top: 8px;
	left: 20%;
	z-index: 1000;
}

.nodisplay{
	display: none;
}
.card__author{
	color:#666;
}

.adminmenu {
	position: absolute;
	background: #000000;
}

.adminmenu .userItem{
	position: absolute;
	right: 0;
	margin-right: 0;
}

.paddingtop15 {
	padding-top: 15px;
}

.admin input[type="text"] {
    width: 100%;
}
.admin input[type="radio"] {
    min-height: 0;
}
.admin .btn{
  	margin-top: 20px;
}
.admin .radio-inline{
	font-weight: 700;
	margin-bottom: 10px;
}
